.design-design {
    width: 100%;
    height: 1080px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .design-frame4 {
    top: 262px;
    left: 248px;
    width: 638px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .design-frame41 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .design-frame42 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 42.575950622558594px;
    flex-direction: column;
  }
  .design-text {
    color: rgba(43, 120, 139, 1);
    height: auto;
    font-size: 19.868776321411133px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 28.38396644592285px;
    text-decoration: none;
  }
  .design-frame5 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }
  .design-text05 {
    color: rgba(0, 0, 0, 1);
    width: 638px;
    height: auto;
    font-size: 73.24104309082031px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Dela Gothic One;
    font-weight: 400;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .design-frame7 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
  }
  .design-frame8 {
    top: 79.55731964111328px;
    left: 242px;
    width: 1416px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: space-between;
  }
  .design-frame51 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
  }
  .design-text07 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 24.34801483154297px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Dela Gothic One;
    font-weight: 400;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 34.060760498046875px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .design-vector1 {
    width: 0px;
    height: 20px;
    position: relative;
    margin-right: 34.060760498046875px;
  }
  .design-frame9 {
    display: flex;
    padding: 10px;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 34.060760498046875px;
  }
  .design-text09 {
    color: rgba(88, 88, 88, 1);
    height: auto;
    font-size: 19.868776321411133px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .design-text11 {
    color: rgba(88, 88, 88, 1);
    height: auto;
    font-size: 19.868776321411133px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 34.060760498046875px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .design-frame3 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
  }
  .design-frame71 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
  }
  .design-text13 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 19.868776321411133px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 29.803165435791016px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .design-frame2 {
    display: flex;
    padding: 15.611181259155273px 25.545570373535156px;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 17.030380249023438px;
    background-color: rgba(43, 120, 139, 1);
  }
  .design-text15 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 19.868776321411133px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .design-homepage1 {
    top: 167px;
    left: 869px;
    width: 1072px;
    height: 800px;
    position: absolute;
    border-color: transparent;
  }
  